<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site used data from <a href="https://www.mapbox.com/" target="_blank" class="anchor">Mapbox</a> and <a
                href="https://weatherstack.com/" target="_blank" class="anchor">Weather Stack</a></p>
        <img class="potrait" src="./img/rythem.jpg" alt="image">
    </div>
    {{>footer}}
</body>

</html>